<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 list-group">
			
			<div class="input-group list-group-item">
				<div class="input-group">
					{{input 
						class="form-control" 
						value=filterString
						placeholder="Search expression"
					}}
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</div>
			{{#each filtered}}
				{{#link-to "card" id class="list-group-item"}}
					{{#if commentsBadge}}
						<span class="badge"><i class="fa fa-comment-o"> {{commentsBadge}}</i></span>
					{{/if}}
					<strong>{{name}}</strong><br />
					{{desc}}
				{{/link-to}}

			{{else}}
				<div class="list-group-item">
					<p>You have no unarchived cards assigned to you.</p>
				</div>
			{{/each}}
		</div>

		<div class="col-md-6">
			{{outlet}}
		</div>
	</div>
</div>
