<h2 class="text-center">
	{{name}}<br />
	<small>{{desc}}</small>	
</h2>

{{render "timer"}}

<div>
	{{#each comments}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="label label-default">{{memberCreator.initials}}</span> <span class="pull-right">{{human-date date}}</span>
			</div>
		
			<div class="panel-body">
				{{data.text}}
			</div>
		</div>
	{{/each}}
</div>
