<h2 class="text-center">
	<a {{bind-attr href=shortURL}} target="_blank">{{name}}</a><br />
	<small>{{desc}}</small>	
</h2>

{{render "timer"}}

<hr />

<div>
	{{#each comments}}
		{{render "comment" this}}
	{{/each}}
</div>
